<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876065280786-5l3kpt0keb3kfpom7nj39fe19qn6uccj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876065280786-5l3kpt0keb3kfpom7nj39fe19qn6uccj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876065280786-3922p5sh93qqnfe6kmvvr2nlgj9shi9e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFHfrDWgeCjXqDZsmBRWCJqx7o2AeWoLU</string>
	<key>GCM_SENDER_ID</key>
	<string>876065280786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kima.app</string>
	<key>PROJECT_ID</key>
	<string>kima-f7d33</string>
	<key>STORAGE_BUCKET</key>
	<string>kima-f7d33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876065280786:ios:2839342c82e65a3ce9d9cb</string>
</dict>
</plist>